@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Inter";
        src: url("../../../../../../src/assets/fonts/Inter-Regular.ttf");
    }
    
    @font-face {
        font-family: "openSans";
        src: url("../../../../../../src/assets/fonts/OpenSans-Regular.ttf");
    }

    @font-face {
        font-family: "montserrat";
        src: url("../../../../../../src/assets/fonts/Montserrat-Regular.ttf");
    }

    .font-inter {
        font-family: "Inter";
    }

    .font-openSans {
        font-family: "openSans";
    }

    .font-montserrat {
        font-family: "montserrat";
    }

    #menu {
        @apply w-8 h-5 flex flex-col justify-between items-center cursor-pointer sm:hidden
    }

    #menu span {
        @apply w-full h-0.5 bg-white transition-all duration-300
    }

    .firstSpan {
        @apply rotate-45 origin-left -translate-y-1
    }

    .secondSpan {
        @apply scale-0
    }

    .thirdSpan {
        @apply -rotate-45 origin-left
    }
}

@layer components {
    .nav-menu {
        @apply p-3 rounded-full transition-all duration-300 hover:text-sky-500 md:px-5 md:py-4 md:ml-0.5 lg:px-6 lg:py-5 lg:ml-3 lg:text-lg 
    }

    .about-me {
        @apply w-1/2 mx-auto text-lg font-medium text-center sm:text-xl md:mx-10 lg:text-2xl
    }
}